# ==========================
# Python
# ==========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Vector Database
# ==========================
backend/app/data/vector_db/

# ==========================
# Uploaded PDFs / Dataset
# ==========================
backend/app/data/pdfs/
backend/app/data/uploads/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Node
# ==========================
frontend/node_modules/
frontend/dist/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS
# ==========================
Thumbs.db
.DS_Store